* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive; 
    font-weight: 300;
}

body {
    background-color: #d9eeef;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #EFF9FE;
}

i {
    font-size: 2em;    
}

h1 {
    color: #193a59;
    text-align: center;
}

/* Phone Carousel */
.slider-phone {
    background: #d9eeef;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
}

.slider-phone::before, .slider-phone::after {
    background: linear-gradient(to right, #d9eeef 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 20px;
    z-index: 2;
}

.slider-phone::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider-phone::before {
    left: 0;
    top: 0;
}

.slider-phone .slide-track-phone {
    animation: scroll-phone 20s linear infinite;
    display: flex;
    width: calc(150px * 18);
}

.slider-phone .phone-slide:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

.slider-phone .slide-track-phone:hover {
    animation-play-state: paused;
    transition: 1s;
}

/* .slider-phone .phone-slide {
    margin: 0 0.5em;
    border-radius: 1em;
    height: 450px;
    width: 250px;
} */
.slider-phone .phone-slide {
    margin: 0 0.5em;
    border-radius: 1em;
    height: 280px;
    width: 150px;
}

.phone-slide:nth-child(1), .phone-slide:nth-child(10) {
    background: url(images/phone/0.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(2), .phone-slide:nth-child(11) {
    background: url(images/phone/1.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(3), .phone-slide:nth-child(12) {
    background: url(images/phone/2.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(4), .phone-slide:nth-child(13) {
    background: url(images/phone/3.png) center;
    background-size: cover;
}

.phone-slide:nth-child(5), .phone-slide:nth-child(14) {
    background: url(images/phone/4.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(6), .phone-slide:nth-child(15) {
    background: url(images/phone/5.png) center;
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(7), .phone-slide:nth-child(16) {
    background: url(images/phone/6.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(8), .phone-slide:nth-child(17) {
    background: url(images/phone/7.png);
    background-size: cover;
    background-position: center;
}

.phone-slide:nth-child(9), .phone-slide:nth-child(18) {
    background: url(images/phone/8.png);
    background-size: cover;
    background-position: center;
}

@keyframes scroll-phone {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-150px * 9));
    }
}

/* Desktop Carousel */
.slider-desk {
    background: #d9eeef;
    height: 180px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
}

.slider-desk::before, .slider-desk::after {
    background: linear-gradient(to right, #d9eeef 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 20px;
    z-index: 2;
}

.slider-desk::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider-desk::before {
    left: 0;
    top: 0;
}

.slider-desk .slide-track-desk {
    animation: scroll-desk 40s linear infinite;
    display: flex;
    width: calc(300px * 18);
}

.slider-desk .slide-track-desk:hover {
    animation-play-state: paused;
}

.slider-desk .desk-slide {
    margin: 0 0.5em;
    border-radius: 1em;
    height: 160px;
    width: 300px;
}

.slider-desk .desk-slide:hover {
    transform: scale(1.04);
    transition: 0.5s;
}

.desk-slide:nth-child(1), .desk-slide:nth-child(10) {
    background: url(images/desk/0.png);
    background-size: cover;
}

.desk-slide:nth-child(2), .desk-slide:nth-child(11) {
    background: url(images/desk/1.png);
    background-size: cover;
}

.desk-slide:nth-child(3), .desk-slide:nth-child(12) {
    background: url(images/desk/2.png);
    background-size: cover;
}

.desk-slide:nth-child(4), .desk-slide:nth-child(13) {
    background: url(images/desk/3.png) center;
    background-size: cover;
}

.desk-slide:nth-child(5), .desk-slide:nth-child(14) {
    background: url(images/desk/4.png);
    background-size: cover;
}

.desk-slide:nth-child(6), .desk-slide:nth-child(15) {
    background: url(images/desk/5.png) center;
    background-size: cover;
}

.desk-slide:nth-child(7), .desk-slide:nth-child(16) {
    background: url(images/desk/6.png);
    background-size: cover;
}

.desk-slide:nth-child(8), .desk-slide:nth-child(17) {
    background: url(images/desk/7.png);
    background-size: cover;
}

.desk-slide:nth-child(9), .desk-slide:nth-child(18) {
    background: url(images/desk/8.png);
    background-size: cover;
}

@keyframes scroll-desk {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-300px * 9));
    }
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    background-color: #03888f;
    z-index: 10;
}

.navbar-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-mobile {
    color: #EFF9FE;
}

.brand-link {
    margin: 0.25em;
}

.brand-link i {
    margin-right: 0.25em;
    color: #f3bc89;
}

.brand-link span {
    font-size: 1.75em;
}

.navbar-container {
    position: absolute;
    background-color: #03888f;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; 
    overflow: hidden;
    transition: height ease 0.6s;
}

.navbar-container a {
    font-size: 1.75em;
    color: #EFF9FE;
}

.navbar-container a i {
    font-size: 1.2em;
    margin-right: 0.25em;
}

#navbar-header:target .navbar-container {
    position: fixed;
    height: calc(100% - 3em);
    transition: height ease 0.6s;
}

#navbar-header:target .open {
    display: none;
}

#navbar-header:target .close {
    display: flex;
}

.close {
    display: none;
}

.navbar-header .brand-link {
    display: flex;
    align-items: center;
}

/* Section */
section {
    margin-top: 6em;
}

section .title {
    text-align: center;
    color: #0f319e;
    margin-top: 1.5em;
}

section .title h1 {
    margin: 0 0 20px;
}

section h3 {
    margin: 2em 0 0.8em;
    font-size: 1.25em;
    color: #0f319e;
    text-align: center;
}

.phone-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.desk-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.phone {    
    width: 135px;
    height: 240px;
    margin: 1.5em 0;
    border-radius: 1rem;
    /* box-shadow: 0em 0em 0.3em #031272; */
    cursor: pointer;
    transition: 0.5s;
}

.desk {
    width: 270px;
    height: 140px;
    margin: 1.8em auto;
    border-radius: 1rem;
    /* box-shadow: 0em 0em 0.3em #031272; */
    cursor: pointer;
    transition: 0.5s;
}

.sort-colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30px;
    width: 75%;
    /* width: 90%; */
    margin: 0 auto 60px;
}

.sort-colors a {
    box-shadow: 0 0 3px #111;
    border-radius: 0.3em;
    height: 30px;
    width: 50px;
    margin: 5px auto;
}

.sort-colors a:hover {
    box-shadow: 0 0 4px #111;
}

.sort-colors .red {
    background-color: #ee9090;
}

.sort-colors .orange {
    background-color: #eecd90;
}

.sort-colors .yellow {
    background-color: #e5ee90;
}

.sort-colors .green {
    background-color: #98ee90;
}

.sort-colors .blue {
    background-color: #90b6ee;
}

.sort-colors .purple {
    background-color: #b990ee;
}

.sort-colors .pink {
    background-color: #ee90e6;
}

.sort-colors .black {
    background-color: #333333;
}

.sort-colors .white {
    background-color: #eeeeee;
}

.sort-colors .gray {
    background-color: #777777;
}

.sort-colors .brown {
    background-color: #d4944b;
}

.sort-colors .pride, .all {
    /* background-color: #444444; */
    text-align: center;
    font-size: 1.2em;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.sort-colors .all {
    color: #031272;
    width: 2em;
}

.sort-colors .pride .pride-p {
    color: rgb(223, 68, 68);
}
.sort-colors .pride .pride-r {
    color: rgb(236, 247, 91);
}
.sort-colors .pride .pride-i {
    color: rgb(53, 179, 49);
}
.sort-colors .pride .pride-d {
    color: rgb(83, 109, 228);
}
.sort-colors .pride .pride-e {
    color: rgb(128, 85, 228);
}

#modal-button {
    display: none;
}

.modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;    
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all ease-out 0.5s;
    transform: scale(0);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    transition: 0.5s;
}

.modal-content .phone {
    width: 230px;
    height: 460px;
    box-shadow: none;
    border: 0.2em solid #111;
} 

.modal-content .desk {
    width: 325px;
    height: 162px;
    box-shadow: none;
    border: 0.2em solid #111;
}

.modal-content .phone:hover {
    filter: none;
}

.modal-content .desk:hover {
    filter: none;
}

.modal-content div i {
    display: flex;
    color: #EFF9FE;
    border-radius: 0.5rem;
    margin: 0 0.75em;
    cursor: pointer;
    font-size: 1.3em;
    align-items: baseline;
}

.modal-content .download-button i {
    padding: 0.625em 0.75em;
    background-color: #0f319e;
}

.modal-content i p {
    margin-left: 0.4em;
}

.modal-content .close-button i {
    background-color: #9e1919;
    padding: 0.5em 0.625em;
}

.modal-content div {
    display: flex;
    align-items: center;
}

.modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Footer */
footer {
    background-color: #03888f;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

footer .title {
    color: #EFF9FE;
    padding: 0.7em 0.7em 0.25em;
    font-size: 1.75em;
    text-align: center;
}

footer .icon {
    display: none;
}

footer i {
    color: #03888f;
    font-size: 2em;
    border-radius: 10%;
    background-color: #EFF9FE;
}

footer .about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer .social i {
    padding: 0.25em 0.4em;
    margin: 0.25em;
    transition: 0.5s;
}

footer p {
    text-align: justify;
    color: #EFF9FE;
    font-size: 1em;
    padding: 0.625em 3.5em 1.5em;
}

footer .social {
    display: flex;
    flex-direction: row;
}

footer .about-galy {
    display: flex;
    flex-direction: column;
}

footer .send-wallpapers {
    width: 70%;
    text-align: center;
    background-color: #EFF9FE;
    border-radius: 0.5em;
    margin: 1em auto 0.5em;
    padding: 1em;
    justify-self: center;
    cursor: pointer;
}

footer .send-wallpapers a {
    color: #0f319e;
    font-size: 1.2em;
}

/* Send wallpapers */
.drag-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
}

.drag-and-drop, .o {
    display: none;
}


.archives {
    background-color: #304fb6;
    padding: 1em;
    border-radius: 0.75em;
    border: 1px solid #ebedf5;
    color: #ebedf5;
}

@media only screen and (min-width: 450px) {
    .desk {
        width: 320px;
        height: 190px;
    }
}

@media only screen and (min-width: 550px) {
    .desk {
        width: 270px;
        height: 140px;
    }

    .phone-images {
        padding: 0.5em;
        grid-template-columns: repeat(3, 1fr);
    }

    .desk-images {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .send-wallpapers {
        width: 60%;
    }
}

@media only screen and (min-width: 710px) {
    .desk {
        width: 310px;
        height: 180px;
    }

    .phone-images {
        padding: 0.5em;
        grid-template-columns: repeat(4, 1fr);
    }

    .modal-content div i {
        margin: 0.625em;
    }
}

@media only screen and (min-width: 768px) {
    .desk {
        width: 270px;
        height: 140px;
    }

    .navbar-container {        
        height: auto;
        flex-direction: row;
        position: static;
        align-items: center;
        width: 68%;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu-mobile {
        display: none;
    }

    .navbar-container a {
        font-size: 1em;
        padding: 0.6em 1em;
        border-radius: 0.5rem;
        transition: 0.5s;
    }
    
    .navbar-container a i {
        font-size: 1.2em;
        margin-right: 0.25em;
    }

    .navbar-container a:hover {
        background-color: #EFF9FE;
        color: #03888f;
        border-radius: 0.5rem;
        transition: 0.5s;
        cursor: pointer;
    }

    .modal-content .phone {
        width: 350px;
        height: 700px;
    }
    
    .modal-content .desk {
        width: 700px;
        height: 350px;
    }

    footer .send-wallpapers {
        width: 60%;
    }

    .drag-area {
        height: 25em;
        width: 60%;
        border: 3px dashed #0f319e;
        margin: 1.2em auto;
        background-color: #a5b5fc;
        border-radius: 1em;
    }

    .drag-and-drop, .o {
        display: flex;
        color: #EFF9FE;
    }

    .drag-and-drop { 
        color: #EFF9FE;
    }

    .drag-area h3 {
        color: #0f319e;
        margin: 1.2em;
    }

    .drag-area.active {
        background-color: #5878e0;
    }

    .archives {
        cursor: pointer;
    }

    .file-container {
        display: flex;
        align-items: center;
        gap: 0.625em;
        padding: 0.625em;
        border: solid 1px #ebedf5;
    }

    #preview {
        margin-top:  10px;
    }

    .status-text {
        padding: 0 10px;
    }

    .success {
        color: #98ee90;
    }

    .failure {
        color: #ee9090;
    }
}

@media only screen and (min-width: 850px) {
    .phone-images {
        grid-template-columns: repeat(5, 1fr);
    }

    .desk-images {
        grid-template-columns: repeat(3, 1fr);
    }

    .phone:hover, .desk:hover {
        filter: saturate(1.5);
    }

    footer .social i {
        background-color: #b4c3c9;
    }

    footer .social i:hover {
        box-shadow: 0 0 3px #EFF9FE;
        background-color: #EFF9FE;
        color: #03888f;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    footer .about-galy p {
        font-size: 0.9em;
    }

    footer .about-me {
        width: 20%;
        order: 2;
        align-content: center;
    }

    footer .about-me p {
        font-size: 1em;
    }

    footer .about-galy {
        width: 30%;
        order: 1;
        align-content: center;
    }

    footer .icon {
        display: flex;
        width: 160px;
        height: 160px;
        order: 0;
        align-self: center;
    }

    footer p {
        padding: 0.625em 1em;
    }

    footer .send-wallpapers {
        background-color: #b4c3c9;
        width: 20%;
        margin: 0;
        align-self: center;
        transition: 0.5s;
    }

    footer .send-wallpapers:hover {
        box-shadow: 0 0 3px #EFF9FE;
        background-color: #EFF9FE;
    }

    footer .send-wallpapers a {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px) {
    .phone-images {
        grid-template-columns: repeat(6, 1fr);
    }

    .modal-content .phone {
        width: 250px;
        height: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-container {
        width: 45%;
    }
    
    .desk {
        width: 400px;
        height: 220px;
    }
}
