.about-me {
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me .tt, .about-me .ig, .about-me .portfolio {
  margin: .5em .25em;
  padding: .25em .5em .125em;
  font-size: 1.75em;
  border-radius: .2em;
  transition: .3s;
}

.about-me .tt:hover, .about-me .ig:hover, .about-me .portfolio:hover {
  background-color: #D9EEEF;
  color: #03888F;
  transition: .3s;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-galy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.about-galy p {
  font-size: .9em;
  font-weight: 100;
  text-align: justify;
}
