---
import Layout from '../components/layout.astro';
import Carousel from '../components/carousel.astro';
---

<Layout pageSection="Home">
		<content class="hero-section flex flex-col justify-center items-center sm:flex-row sm:justify-evenly sm:items-center w-full h-[100vh]">
			<div class="sm:drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] flex flex-col items-center justify-center sm:my-0 mb-5">
				<img class="w-[8rem] sm:w-[16rem]" src="/galy.png" alt="Icono Galy">
			</div>

			<div class="flex flex-col text-center sm:items-center w-3/4 sm:w-2/5">

				<h1 class="text-[#f0924f] text-2xl sm:text-4xl sm:leading-[3rem]">Welcome to Galy!</h1>

				<h2 class="bg-gradient-to-r from-[#193A59] to-[#03888F] text-lg sm:text-xl text-transparent bg-clip-text font-light">Discover a world of captivating visuals! Immerse yourself in a stunning collection of high-quality wallpapers, perfectly suited for all your devices.</h2>

				<!-- <div class="hidden sm:block sm:h-0.5 sm:w-full sm:mt-2 mb-4 bg-[#193A59]"></div> -->

				<h3 class="mt-2 text-xs font-light text-[#112c45] p-2 rounded-xl flex items-center justify-center gap-1">
					<i class="fa-solid fa-down-long"></i>
					Scroll down to watch what we have for you!
					<i class="fa-solid fa-down-long"></i>
				</h3>

			</div>
		</content>

		<content class="info-section flex flex-col mt-6 gap-16 sm:justify-start items-center sm:h-[75vh]">
			<div class="mx-10 sm:mx-20 flex flex-col items-center w-5/6">
				<i class="fa-solid fa-question p-2 bg-gradient-to-r from-[#741e1e] to-[#ae5151] text-transparent bg-clip-text text-4xl"></i>
				<h2 class="text-[#822929] text-lg">
					What is Galy?
				</h2>
				<p class="text-[#193A59] text-center">
					Galy is a wallpaper platform that offers a wide range of high-quality wallpapers for your devices. We have a large collection of wallpapers that are sure to suit your style and personality. Whether you're looking for something simple or more complex, we have it all! (not yet really)
				</p>
			</div>

			<div class="flex flex-col justify-center sm:flex-row w-5/6 sm:w-[90%] mx-auto gap-4">

				<div class="flex flex-col sm:m-0 items-center rounded-2xl">
					<i class="fa-solid fa-circle-plus text-[#642b89] text-4xl pt-4 pb-2"></i>
					<p class="text-[#112c45] text-sm font-medium text-center">
						<span class="text-[#642b89]">Easy Download</span><br>Downloading your favorite wallpaper is a breeze. With just a few clicks, you can transform your device's look and feel. It's quick, hassle-free, and free of charge!
					</p>
				</div>
				
				<div class="flex flex-col sm:m-0 items-center rounded-2xl">
					<i class="fa-solid fa-fire-flame-curved pt-4 text-[#cc773a] text-4xl pb-2"></i>
					<p class="text-[#112c45] text-sm font-medium text-center">
						<span class="text-[#9a501c]">Fresh Content</span><br>Our library is constantly updated with new and exciting wallpapers to keep your screens feeling fresh and inspiring. Don't settle for static backgrounds when you can switch it up whenever you like.
					</p>
				</div>
				
				<!-- <div class="flex flex-col sm:m-0 items-center rounded-2xl">
					<i class="fa-solid fa-magnifying-glass text-[#bcf3ca] text-4xl pt-4 pb-2"></i>
					<p class="text-[#112c45] text-sm font-medium text-center">
						<span class="text-[#bcf3ca]">Simple Navigation</span><br>Our user-friendly website is designed with you in mind. You can easily search for wallpapers by category, color, or even resolution, ensuring you find the perfect backdrop for your device.
					</p>
				</div> -->
			</div>
			<h2 class="w-5/6 text-lg sm:text-xl text-[#112c45] text-center mb-4">
				Make us your trusted web page today and start your daily dose of inspiration!
			</h2>
		</content>
</Layout>
