---
import Layout from '../components/layout.astro';
import Wallpaper from '../components/wallpaper.astro';
import '../styles/home.css';
---

<Layout pageSection="Mobile">	
	<!-- <Wallpaper/> -->
	<content class="bg-gradient-to-t from-[#19bfc8] to-[#D9EEEF]">
        <!-- <div class="mobile">
            <Carousel type="mobile"/>
        </div> -->

        <div class="galy-logo">
            <img src="../../public/images/galy-logo.png" alt="">
            <h2 class="text-[#193A59]">Coming soon!</h2>
        </div>

        <!-- <div class="desktop">
            <img src="../../public/images/desktop/3.png" alt="Wallpaper" loading="lazy">
            <img src="../../public/images/desktop/1.png" alt="Wallpaper" loading="lazy">
        </div> -->
    </content>
</Layout>
