---
import Layout from '../components/layout.astro';
import Wallpaper from '../components/wallpaper.astro';
// import '../styles/home.css';
---

<Layout pageSection="Mobile">	
	<!-- <Wallpaper/> -->
	<content>

        <div class="grid grid-cols-2 sm:grid-cols-5 p-6 justify-center items-center justify-items-center gap-4 sm:gap-y-12 mt-20">
            <a href="/public/images/phone/0.png" download>
                <img src="/public/images/phone/0.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/1.png" download>
                <img src="../../public/images/phone/1.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/2.png" download>
                <img src="../../public/images/phone/2.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/3.png" download>
                <img src="../../public/images/phone/3.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/4.png" download>
                <img src="../../public/images/phone/4.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/5.png" download>
                <img src="../../public/images/phone/5.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/6.png" download>
                <img src="../../public/images/phone/6.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/7.png" download>
                <img src="../../public/images/phone/7.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/8.png" download>
                <img src="../../public/images/phone/8.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/9.png" download>
                <img src="../../public/images/phone/9.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/10.png" download>
                <img src="../../public/images/phone/10.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/11.png" download>
                <img src="../../public/images/phone/11.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/12.png" download>
                <img src="../../public/images/phone/12.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/13.png" download>
                <img src="../../public/images/phone/13.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/14.png" download>
                <img src="../../public/images/phone/14.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/15.png" download>
                <img src="../../public/images/phone/15.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/16.png" download>
                <img src="../../public/images/phone/16.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/17.png" download>
                <img src="../../public/images/phone/17.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/18.png" download>
                <img src="../../public/images/phone/18.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/19.png" download>
                <img src="../../public/images/phone/19.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/20.png" download>
                <img src="../../public/images/phone/20.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/21.png" download>
                <img src="../../public/images/phone/21.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/22.png" download>
                <img src="../../public/images/phone/22.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/23.png" download>
                <img src="../../public/images/phone/23.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/24.png" download>
                <img src="../../public/images/phone/24.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/25.png" download>
                <img src="../../public/images/phone/25.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/26.png" download>
                <img src="../../public/images/phone/26.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/27.png" download>
                <img src="../../public/images/phone/27.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/28.png" download>
                <img src="../../public/images/phone/28.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/29.png" download>
                <img src="../../public/images/phone/29.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/30.png" download>
                <img src="../../public/images/phone/30.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/31.png" download>
                <img src="../../public/images/phone/31.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/32.png" download>
                <img src="../../public/images/phone/32.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/33.png" download>
                <img src="../../public/images/phone/33.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/34.png" download>
                <img src="../../public/images/phone/34.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/35.png" download>
                <img src="../../public/images/phone/35.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/36.png" download>
                <img src="../../public/images/phone/36.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/37.png" download>
                <img src="../../public/images/phone/37.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/38.png" download>
                <img src="../../public/images/phone/38.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/39.png" download>
                <img src="../../public/images/phone/39.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/40.png" download>
                <img src="../../public/images/phone/40.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
            <a href="../../public/images/phone/41.png" download>
                <img src="../../public/images/phone/41.png" class="w-80 sm:w-64 rounded-xl" alt="Wallpaper" loading="lazy">
            </a>
        </div>
    </content>

    <!-- <button class="bg-blue-300 text-white p-3">Abrir Modal</button>

    <div id="modal-component-container" class="fixed inset-0">
        <div class="modal-flex-container" class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="modal-bg-container" class="fixed bg-gray-600 inset-0 bg-opacity-75"></div>
            <div class="modal-space-container"></div>

            <div class="modal-container inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-2-lg w-full">
                <div class="modal-wrapper bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="modal-wrapper-flex sm:flex sm:items-start">
                        <div class="modal-icon mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-400 sm:mx-0 sm:h-10 sm:w-10"></div>
                        <div class="modal-content text-center mt-3 sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg font-medium text-gray-900">Eliminar elemento</h3>
                        </div>
                    </div>
                </div>

                <div class="modal-actions bg-gray-50 px04 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button class="modal-button modal-button-cancel">Cancelar</button>
                    <button class="modal-button modal-button-confirm">Confirmar</button>
                </div>
            </div>
        </div>
    </div> -->
</Layout>