<footer>

    <img class="icon" src="images/GY.png" title="Galy">

    <div class="about-me">
                    
        <h3 class="title"> Follow me </h3>
            
        <div class="social">

            <div class="ig">
                <a href="https://www.instagram.com/YourFriendlyADC/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div> 

            <div class="tt">
                <a href="https://twitter.com/yourfriendlyadc" target="_blank">                        
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>

            <div class="portfolio">
                <a href="https://yourfriendlyadc.github.io/" target="_blank">                        
                    <i class="fa-solid fa-briefcase"></i>
                </a>
            </div>

        </div>

    </div>

    <!-- <div class="send-wallpapers">
        <a href="send.html" target="_blank"> Do you want to share your wallpapers? </a>
    </div> -->

    <div class="about-galy">
        <h3 class="title"> About Galy </h3>
        <p class="description"> Here you can look for wallpapers and download easily. All of these wallpapers were created by Leonardo AI and they aren't used for commercial purposes, such as this website. </p>                
    </div>

</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #03888F;
        color: #fff;
        padding: 1em;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    img {
        width: 6em;
        height: 6em;
    }

    h3 {
        color: #D9EEEF;
    }

    .about-me {
        width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me .tt, .about-me .ig, .about-me .portfolio {
        padding: 0.5em;
        font-size: 1.75em;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about-galy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

    .about-galy p {
        font-size: .9em;
        font-weight: 100;
        text-align: justify;
    }
</style>