---
import '../styles/footer.css';
---

<footer class="bg-[#19bfc8]
text-[#fff] p-4
flex flex-col
justify-center
items-center
sm:flex-row
sm:justify-evenly
sm:items-start">

    <img class="icon hidden
    sm:block sm:w-24 h-24"
    src="images/GY.png" title="Galy">

    <div class="about-me">
                    
        <h3 class="title text-[#D9EEE]"> Follow me </h3>
            
        <div class="social">

            <div class="ig">
                <a href="https://www.instagram.com/YourFriendlyADC/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div> 

            <div class="tt">
                <a href="https://twitter.com/yourfriendlyadc" target="_blank">                        
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>

            <div class="portfolio">
                <a href="https://yourfriendlyadc.github.io/" target="_blank">                        
                    <i class="fa-solid fa-briefcase"></i>
                </a>
            </div>

        </div>

    </div>

    <!-- <div class="send-wallpapers">
        <a href="send.html" target="_blank"> Do you want to share your wallpapers? </a>
    </div> -->

    <div class="about-galy w-5/6 sm:w-2/5">
        <h3 class="title text-[#D9EEE]"> About Galy </h3>
        <p class="description"> Here you can look for wallpapers and download easily. All of these wallpapers were created by Leonardo AI and they aren't used for commercial purposes, such as this website. </p>                
    </div>

</footer>
