---

---

<header class="navbar bg-[#D9EEEF] py-2" id="navbar-header">

    <nav class="navbar-header
    flex justify-between items-center px-4
    sm:flex sm:justify-between sm:items-center sm:px-4">

        <div class="logo">

            <a href="/" class="brand-link flex justify-center gap-1
            text-[#03888F] font-light text-base">                    
                <i class="fa-solid fa-leaf text-2xl  text-[#ea8740]"></i>
                <span class="brand text-[#03888F] text-2xl font-light"> Galy </span>
            </a>

        </div>

        <div class="links absolute sm:static duration-500
        flex px-5 gap-8 sm:gap-2 bg-[#D9EEEF]
        flex-col min-h-[100vh] left-0 top-[-100%] w-full
        sm:w-auto items-center justify-center sm:flex-row sm:min-h-fit">

            <div class="list flex sm:flex-row items-center
            flex-col">
                
                <a href="/" class="navbar-link 
                    text-[#03888F] mx-2 px-4 py-2 rounded-lg my-4
                    font-light text-2xl sm:text-base duration-300 inline-flex items-center
                    hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                    <i class="fa-solid fa-house pr-1"></i>
                    <span>Home</span>
                </a>
            
                <a href="mobile.html" class="navbar-link 
                    text-[#03888F] mx-2 px-4 py-2 rounded-lg my-4
                    font-light text-2xl sm:text-base duration-300 inline-flex items-center
                    hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                    <i class="fa-solid fa-mobile pr-1"></i>
                    <span>Mobile</span>
                </a>
            
                <a href="desktop.html" class="navbar-link 
                    text-[#03888F] m-3 px-4 py-2 rounded-lg
                    font-light text-2xl sm:text-base duration-300 inline-flex items-center
                    hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                    <i class="fa-solid fa-desktop pr-1"></i>
                    <span>Desktop</span>
                </a>
            
                <a href="" class="navbar-link 
                    text-[#03888F] mx-2 px-4 py-2 rounded-lg my-4
                    font-light text-2xl sm:text-base duration-300 inline-flex items-center
                    hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                    <i class="fa-solid fa-circle-info pr-1"></i>
                    <span>Contact</span>
                </a>
            
            </div>
        </div>

        <div class="sm:hidden">
            <i id="fa-button" class="fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden"></i>

            <!-- <ion-icon id="iobutton"
            name="caret-down-outline"
            class=""></ion-icon> -->
        </div>

    </nav>

</header>

<script>
    const faButton = document.getElementById('fa-button');
    const links = document.getElementById('navbar-header').querySelector('.links');
    faButton.addEventListener('click', () => {
        links.classList.toggle('top-[10vh]');
        // links.classList.toggle('fixed');
        // faButton.className = faButton.className === 'fa-solid fa-square-caret-down' ? 'fa-solid fa-rectangle-xmark' : 'fa-solid fa-square-caret-down';
        if (faButton.className == 'fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden') {
            faButton.className = 'fa-solid fa-xmark text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden';
            // faButton.classList.remove("absolute");
            // faButton.classList.add("fixed");
        } else {
            faButton.className = 'fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden';
        }
    })
</script>