---

---

<header class="navbar py-2 relative" id="navbar-header">
    <!-- para fixed header poner relative arriba y fixed top-0 left-0 right-0 abajo -->
    <nav class="navbar-header fixed top-2 left-0 right-0
    flex justify-between items-center px-4 z-100
    sm:flex sm:justify-between sm:items-center sm:px-4">

        <div class="logo px-2 py-1 cursor-pointer hover:bg-[#9dc6d27b] rounded-md bg-[#d6fcf5aa]">

            <a href="/" class="brand-link flex justify-center gap-1
            text-[#03888F] font-light text-base">                    
                <i class="fa-solid fa-leaf text-2xl  text-[#ea8740]"></i>
                <span class="brand text-[#193A59] text-2xl font-light"> Galy </span>
            </a>

        </div>

        <div class="links absolute sm:static flex gap-8 sm:gap-2 right-0
        sm:w-auto items-center justify-center sm:flex-row sm:min-h-fit mr-1">

            <div class="list flex sm:flex-row items-center flex-row">
                
                <div class="a-container cursor-pointer hover:bg-[#9dc6d27b] duration-200 rounded-md">
                    <a href="/" class="navbar-link w-[3.5rem] sm:w-[6.5rem] justify-center
                    m-1.5 px-4 py-2 rounded-lg bg-gradient-to-r from-[#027379] to-[#193A59] text-[#D9EEEF]
                    font-light text-xl sm:font-thin sm:text-sm duration-300 inline-flex items-center
                    hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                        <i class="fa-solid fa-house pr-0 sm:pr-1"></i>
                        <span class="hidden sm:block">Home</span>
                    </a>
                </div>
            
                <div class="a-container cursor-pointer hover:bg-[#9dc6d27b] duration-200 rounded-md">
                    <a href="/mobile.html" target="_blank" class="navbar-link w-[3.5rem] sm:w-[6.5rem] justify-center
                    m-1.5 px-4 py-2 rounded-lg bg-gradient-to-r from-[#027379] to-[#193A59] text-[#D9EEEF]
                    font-light text-xl sm:font-thin sm:text-sm inline-flex items-center">
                        <i class="fa-solid fa-mobile pr-0 sm:pr-1"></i>
                        <span class="hidden sm:block">Mobile</span>
                    </a>
                </div>
            
                <div class="a-container cursor-pointer hover:bg-[#9dc6d27b] duration-200 rounded-md">
                    <a href="/desktop.html" class="navbar-link w-[3.5rem] sm:w-[6.5rem] justify-center
                    m-1.5 px-4 py-2 rounded-lg bg-gradient-to-r from-[#027379] to-[#193A59] text-[#D9EEEF]
                    font-light text-xl sm:font-thin sm:text-sm duration-300 inline-flex items-center
                    hover:bg-slate-500 hover:text-[#D9EEEF] hover:duration-300">
                        <i class="fa-solid fa-desktop pr-0 sm:pr-1"></i>
                        <span class="hidden sm:block">Desktop</span>
                    </a>
                </div>
            
                <!-- <div class="a-container cursor-pointer hover:bg-[#9dc6d27b] duration-200 rounded-md">
                    <a href="tablet.html" class="navbar-link w-40 sm:w-[6.5rem] justify-center m-1.5 px-4 py-2 rounded-lg bg-gradient-to-r from-[#03888F] to-[#193A59] text-[#D9EEEF]
                    font-light text-2xl sm:font-thin sm:text-sm duration-300 inline-flex items-center hover:bg-[#07A0A8] hover:text-[#D9EEEF] hover:duration-300">
                        <i class="fa-solid fa-tablet pr-1"></i>
                        <span>Tablet</span>
                    </a>
                </div> -->
            
            </div>
        </div>

        <!-- <div class="sm:hidden">
            <i id="fa-button" class="fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden"></i>
        </div> -->

    </nav>

</header>

<script>
    const faButton = document.getElementById('fa-button');
    const links = document.getElementById('navbar-header').querySelector('.links');
    faButton.addEventListener('click', () => {
        console.log('clicked');
        links.classList.toggle('top-16');
        links.classList.toggle('bg-[#D9EEEF]');
        // links.classList.toggle('fixed');
        // faButton.className = faButton.className === 'fa-solid fa-square-caret-down' ? 'fa-solid fa-rectangle-xmark' : 'fa-solid fa-square-caret-down';
        if (faButton.className == 'fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden') {
            faButton.className = 'fa-solid fa-xmark text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden';
            // faButton.classList.remove("absolute");
            // faButton.classList.add("fixed");
        } else {
            faButton.className = 'fa-solid fa-caret-down text-[#03888F] text-3xl p-2 cursor-pointer sm:hidden';
        }
    })
</script>